@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Open+Sans:wght@400;700&display=swap');
.todo {
  background-color: lemonchiffon;
  color: green;
  display: block;
  padding: 1rem;
  width: 100%;
  text-transform: uppercase;
  font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
  letter-spacing: 0.05rem;
  line-height: 1.4rem;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* 300 400 */
  overflow-y: scroll;
  background: linear-gradient(to right, #2e495a 50%, #fff 50%);
}
/* container */

.container {
  max-width: 1024px;
  margin: 0 auto;
}
p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
  color: #2e495a;
}

/* title */
h1 {
  margin-top: 0;
  font-family: 'Castoro', serif;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small {
  font-size: 0.8rem;
}

/* logos */
.logo-svg {
  height: 30px;
}

/* font */
.serif {
  font-family: 'Castoro', serif;
}
.sans {
  font-family: 'Open Sans', sans-serif;
}
/* colors */
.primary {
  background: #b3e0f3;
  color: #2e495a;
}
.secondary {
  background: #f11b1b;
  color: #fff;
}
.gray {
  background-color: #777;
  color: #fff;
}
/* form */
button {
  width: 100%;
  padding: 12px;
  border: 0;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.08rem;
}
button:hover {
  opacity: 0.8;
}
label {
  display: block;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 0.1rem;
}
input[type='text'],
input[type='email'],
input[type='password'] {
  border: 1px solid #aaa;
  border-radius: 0;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  font-weight: normal;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.04em;
}
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='text']:active,
input[type='email']:active,
input[type='password']:active {
  border: 1px solid #2e495a;
}

/* divider */
.divider {
  display: flex;
  font-weight: 400;
  color: #777;
}

.divider::after,
.divider::before {
  content: '';
  flex: 1;
}
.line {
  align-items: center;
  margin: 1em -1em;
}
.line::after,
.line::before {
  height: 1px;
  margin: 0 1em;
  background: #aaa;
}

/* links */
a {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: #2e495a;
  text-decoration: none;
}
a:hover {
  color: #f11b1b;
}

/* margin-top */
.mt-1 {
  margin-top: 0.2rem;
}
.mt-2 {
  margin-top: 0.4rem;
}
.mt-3 {
  margin-top: 0.6rem;
}
.mt-4 {
  margin-top: 0.8rem;
}
.mt-5 {
  margin-top: 1rem;
}
.mt-6 {
  margin-top: 2rem;
}
.mt-7 {
  margin-top: 3rem;
}
.mt-8 {
  margin-top: 4rem;
}

/* error- */
.error-message,
.error {
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.04rem;
  background-color: rgba(241, 27, 27, 0.1);
  border: 1px solid rgba(241, 27, 27, 0.3);
  color: #f11b1b;
}

/* queries */
@media only screen and (max-width: 1024px) {
  body {
    background: #fff;
  }
}
