.message {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.message-username {
  cursor: pointer;
  font-size: 0.8rem;
  color: #2e495a;
}
.message-content {
  text-align: left;
}
.message-content span {
  padding: 1rem 0;
  display: inline-block;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

.message-content--reply {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.message-content--delete {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

/* new-message */
.new-message form {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.new-message form input {
  flex: 6;
}
.new-message form button {
  flex: 1;
}
