.profile {
  background: #f5f5f5;
  border-radius: 5px;
  color: #214252;
  padding: 1rem;
}
.profile-username {
  margin-bottom: 2rem;
}

.profile-fields {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  margin-bottom: 1rem;
}
